<main class="p-5">
  <div>
    <h1>{{name}}</h1>
  </div>

  <div class="mt-3">
    <b>Born:</b>
  </div>
  <div>{{birthdate}}</div>
  <div>{{birthplace}}</div>

  <div class="mt-3">
    <b>Died:</b>
  </div>
  <div>{{deathdate}}</div>
  <div>{{deathplace}}</div>

  <div class="mt-3">
    <b>Nationality:</b>
  </div>
  <div>{{nationality}}</div>

  <div class="mt-3">
    <b>Occupation:</b>
  </div>
  <div>{{occupation}}</div>

  <div class="mt-3">
    <b>Known for:</b>
  </div>
  <div>
    <ul>
      {{#each known_for}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="mt-3">
    <b>Education:</b>
  </div>
  {{#each education}}
    <div>{{institution}}</div>
    <div>{{field}}</div>
    <div>{{degree}} ({{year}})</div>
  {{/each}}

  <div class="mt-3">
    <b>Notable publications:</b>
  </div>
  <ol>
    {{#each notable_publications}}
      <li>{{title}}
        <em>({{publisher}}, {{year}})</em></li>
    {{/each}}
  </ol>

  <div><b>Partners:</b></div>
  <ol>
    {{#each partners}}
      <li>{{name}}
        <em>({{relationship}}, {{years}})</em></li>
    {{/each}}
  </ol>

  <div><b>Awards:</b></div>
  {{#each awards}}
    <div>
      <p>
        {{title}}
        <em>({{description}}, {{year}})</em>
      </p>
    </div>
  {{/each}}

  <div><b>Influences:</b></div>
  <ul>
    {{#each influences}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <div><b>Influenced:</b></div>
  <ul>
    {{#each influenced}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <div><b>Quotes:</b></div>
  <ul>
    {{#each quotes}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <div><b>Major discoveries:</b></div>
  <div>
    {{#each major_discoveries}}
      <div>
        <p>
          {{title}}
          <em>({{description}}, {{year}})</em>
        </p>
      </div>
    {{/each}}
  </div>

  <div><b>Contributions:</b></div>
  <div>
    {{#with contributions}}
      <div>
        <p>
          {{title}}
          <em>({{field}}, {{description}}, {{year}})</em>
        </p>
      </div>
    {{/with}}
  </div>

</main>