<main class="p-5">
  {{#with person}}
    <section>
      <div>
        <h1>{{name}}</h1>
      </div>
      <div>
        {{age}} years old, {{gender}}
      </div>
      {{#with address}}
      <div>
        <address>
          <em>{{street}} {{city}} {{state}} {{zip}} {{country}}</em>
        </address>
      </div>
      {{/with}}
    </section>

    <hr class="my-4">

    <section>
      <div>
        {{> title data="Education:"}}
      </div>
      {{#each education}}
        <div>
          <b>{{university}}</b>
          <br />
          <em>{{degree}}, {{major}}</em>
          <br />
          <em>{{graduationYear}}</em>
        </div>
      {{/each}}
    </section>

    <hr class="my-4">

    <section>
      {{#each workExperience}}
        <div>{{> title data="Work experience:"}}</div>
        <div><b>{{title}}</b></div>
        <div>{{startDate}} - {{endDate}}</div>
        <div>
          <ul>
            {{#each responsibilities}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

        <hr class="my-4">

        <div>{{> title data="Information about company:"}}</div>
        <div>{{company}}, {{year_founded}}, {{industry}}</div>

        <div>
          {{#each employees}}
          <div><em>{{department}} {{position}}:</em> {{name}}</div>

          <div class="mt-4"><b>Projects:</b></div>
          <div>
            {{#each projects}}
              <div>{{name}} - <em>{{status}}</em></div>
              <div>
                <ul>
                  <li>{{description}}</li>
                </ul>
              </div>

              <b>Teams:</b>
              <div>
                {{#each teams}}
                  <div><em>Team name:</em> {{team_name}}</div>
                  <div>
                    {{#with team_leader}}
                      <em>{{title}}:</em> {{name}} | <a href="mailto:{{email}}">{{email}}</a>
                    {{/with}}
                  </div>

                  <div class="mt-4">
                    <b>Team members:</b>
                  </div>
                  <div>
                    {{#each team_members}}
                      <div>
                        <em>{{title}}</em>: {{name}} | <a href="mailto:{{email}}">{{email}}</a>
                        <br>({{skills}})
                      </div>
                      <div class="mt-4"><b>Projects:</b></div>
                        <div>
                          {{#each projects}}
                            <div>{{name}} ({{technologies}})</div>
                            <ul>
                              <li>{{description}}</li>
                            </ul>
                            <div class="mt-4">
                              <b>Team members:</b>
                            </div>
                            <div>
                              {{#each team_members}}
                              <div>{{name}} | <em>{{title}}</em></div>
                              {{/each}}
                            </div>
                          {{/each}}
                        </div>
                    {{/each}}
                  </div>
                  
                {{/each}}
              </div>
            {{/each}}
          </div>
            
          {{/each}}
        </div>

      {{/each}}
    </section>

  {{/with}}
</main>