<div>
  {{#with program.excursion}}
    <main>
      <div>
        <h1>{{name}}</h1>
      </div>
      {{#with location}}
        <div>
          <h2>{{city}}, {{country}}</h2>
        </div>
      {{/with}}
      <div>{{date}}</div>
      <br />

      {{#each program}}

        <div>
          <h3>{{name}}</h3>
        </div>
        <div>
          ({{type}},
          {{duration}}
          days)
        </div>
        <br />

        <section>
          {{#with details}}

            {{#with museum}}
              <b>{{name}}</b>
              {{#with location}}
                <address>
                  {{address}},
                  {{city}},
                  {{country}}
                </address>
              {{/with}}
              <ul>
                {{#each exhibits}}
                  <li><b>{{name}}</b></li>
                  <div>
                    ({{#if artist}} {{artist}}, {{/if}}
                    {{description}})
                  </div>
                  {{#if audio_guide}}
                    {{#with ../../guide}}
                      <div>
                        <em>{{name}}, {{language}}, {{rating}}</em>
                      </div>
                    {{/with}}
                  {{/if}}
                {{/each}}
              </ul>
            {{/with}}

            
            {{#with venue}}
              <b>{{name}}</b>
              {{#with location}}
                <address>
                  {{address}},
                  {{city}},
                  {{country}}
                </address>
              {{/with}}
            {{/with}}

            <ul>
              {{#each performers}}
                <li><b>{{name}}</b></li>
                <div>({{type}})</div>
                {{#with ../guide}}
                  <div>
                    <em>{{name}}, {{language}}, {{rating}}</em>
                  </div>
                {{/with}}
              {{/each}}
            </ul>
          

          {{/with}}
        </section>

      {{/each}}

    </main>
  {{/with}}
</div>