<main class="p-5">

  <div class="nav">
    <div class="nav item">
      {{#with navigation}}
        {{#each links}}
          <a href={{href}} class='nav-link' target='_blank'>{{text}}</a>
        {{/each}}
      {{/with}}
    </div>
  </div>

  {{#with header}}
    <div><h1 class="mt-3">{{title}}</h1></div>
    {{#with button}}
      <a href='{{link}}' target='_blank' class='btn btn-outline-secondary'>{{text}}</a>
    {{/with}}
  {{/with}}

  <hr class="my-5">

  <div class='row'>
    
    {{> cartGoodsltem}}

    <hr class="my-5">

    {{#with total}}
      <div><h2 class="mt-3">{{title}}</h2></div>
      <div class="display-6"><b>{{amount}}</b></div>
      <p>{{delivery}}</p>
      {{#each buttons}}
        {{#if isSuccess}}
          <div>
            <a href='{{link}}' target='_blank' class='btn btn-success btn-sm'>{{text}}</a>
          </div>
        {{/if}}
        {{#if isOutline}}
          <div class="mt-3">
            <a href='{{link}}' target='_blank' class='btn btn-outline-success btn-sm'>{{text}}</a>
          </div>
        {{/if}}
      {{/each}}
    {{/with}}

    <hr class="my-5">

    {{#with goodsOtherBlock}}
      <div><h3 class="text-center">{{title}}</h3></div>
        {{#each cards}}
          <div class='col-4'>
            <div class='card'>
              <img class='card-img-top' src='{{image}}' alt='{{title}}'/>
              <div class='card-body'>
                <h5 class='card-title'>
                  {{title}}
                  {{#if isHot}}
                  <span class="badge text-bg-warning rounded-pill">Hot</span>
                  {{/if}}
                  {{#if idNew}}
                  <span class="badge text-bg-primary rounded-pill">New</span>
                  {{/if}}
                </h5>
                <p>{{description}}</p>
              </div>
            </div>
          </div>
        {{/each}}
    {{/with}}

    <hr class="my-5">

    {{#with subscribe}}
        <div class='card text-bg-dark'>
          <div class="card-body">
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
              <div class="mb-2">
                <a href='{{link}}' target='_blank' class='btn btn-primary'>
                  {{text}}
                </a>
              </div>
            {{/each}}
          </div>
        </div>
    {{/with}}

    <div class="nav">
      {{#each footer}}
        <div class='col-2'>
        {{#each this}}
          <a href={{link}} class='nav-link' target='_blank'>
            {{text}}
          </a>
        {{/each}}     
        </div>
      {{/each}}
    </div>

  </div>

</main>