<main class="p-5">
  <div class='card mb-4'>
    <div class='card-body'>
      {{#with heading}}
        <div class='card mb-4'>
          <div class='card-body'>
            {{#with main}}
              <div><h1>{{title}}</h1></div>
              <div><p>{{text}}</p></div>
              {{#with button_text}}
                <div class="mb-2"><button type='button' class='btn btn-primary'>{{solid}}</button></div>
                <div><button type='button' class='btn btn-outline-primary'>{{outline}}</button></div>
              {{/with}}
            {{/with}}
          </div>
        </div>
        <div class='card mb-4'>
          <div class='card-body'>
            {{#with second}}
              <div><h2>{{title}}</h2></div>
              <div><p>{{text}}</p></div>
              {{#with button_text}}
                <div class="mb-2"><button type='button' class='btn btn-secondary'>{{solid}}</button></div>
                <div><button type='button' class='btn btn-outline-secondary'>{{outline}}</button></div>
              {{/with}}
            {{/with}}
          </div>
        </div>
        <div class='card'>
          <div class='card-body'>
            {{#with subblock}}
              <div><h2>{{title}}</h2></div>
              <div><p>{{text}}</p></div>
              {{#with button_text}}
                <div class="mb-2"><button type='button' class='btn btn-dark'>{{solid}}</button></div>
                <div><button type='button' class='btn btn-outline-dark'>{{outline}}</button></div>
              {{/with}}
            {{/with}}
          </div>
        </div>
      {{/with}}
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      {{#with nested_display}}
        <div class='display-1 mb-4'>{{title}}</div>
        {{#with children_display}}
          <div class='card'>
            <div class='card-body'>
              <div class='display-4'>{{title}}</div>
              <div><p>{{text}}</p></div>
              <div><button type='button' class='btn btn-outline-warning'>{{button.text}}</button></div>
            </div>
          </div>
        {{/with}}
        <div class="mt-3"><h6>{{header_text}}</h6></div>
        <div><button type='button' class='btn btn-info'>{{button.text}}</button></div>
      {{/with}}
    </div>
  </div>
  <div class='card mt-4'>
    <div class='card-body'>
      {{#with paragraph}}
        <div><p class="text-uppercase">{{title}}</p></div>
        <div><p class="text-lowercase">{{text}}</p></div>
        {{#with button}}
        <a href='{{url}}' target='_blank' type="button" class="btn btn-link">{{text}}</a>
        {{/with}}
        <div class='card'>
          <div class='card-body'>
            <ul>
              {{#each list_name}}
              <li>
                <a href='{{url}}' target='_blank' type="button" class="btn btn-link">{{text}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/with}}
    </div>
  </div>
</main>