<main class="p-5">
  {{#with navigation}}
    {{#each links}}
      <a href={{href}} class='btn btn-link' target='_blank'>{{text}}</a>
    {{/each}}
    {{#with button}}
      <a href='{{href}}' target='_blank' class='btn btn-primary'>{{text}}</a>
    {{/with}}
  {{/with}}
  <hr class="my-4">
  {{#with header}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    {{#with button}}
      <a href='{{link}}' class='btn btn-primary' target='_blank'>{{text}}</a>
    {{/with}}
  {{/with}}
  <hr class="my-4">
  {{#with city}}
    <h2>{{title}}</h2>
    <div class='row'>
    {{#each cards}}
      <div class='col-5'>
        <div class='card'>
          <img class='card-img-top' src='{{picture.src}}' alt='{{picture.alt}}'/>
          <div class='card-body'>
            <h5 class='card-title'>{{title}}</h5>
            <p>{{description}}</p>
            {{#with button}}
              <a href='{{href}}' class='btn btn-primary' target='_blank'>{{text}}</a>
            {{/with}}
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  {{/with}}
  <hr class="my-5">
  {{#with winner}}
    <h2>{{title}}</h2>
    {{#with table}}
      <table class="table">
        <thead>
          <tr>
            {{#each head}}
              <th>{{this}}</th>
            {{/each}}
          </tr>
        </thead>
        {{#each user}}
          <tbody>
            <tr>
              <td>{{place}}</td>
              <td>{{name}}</td>
              <td>{{surname}}</td>
              <td>{{nickname}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    {{/with}}
  {{/with}}
  <hr class="my-5">
  {{#with gallery}}
    <h2>{{title}}</h2>
    <div class="row">
      {{#each cards}}
        <div class="col-4">
          <div class='card'>
            <div class='card-header'>{{name}}</div>
            {{#each items}}
              <div class='list-group list-group-flush'>
                <div class='list-group-item'>{{this}}</div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <hr class="my-5">
  {{#with relaxion}}
    <div class='display-3'>{{title}}</div>
    <br />
    <div class="row">
      {{#each cards}}
        <div class="col-5">
          <div class='card text-bg-secondary mt-3'>
            <div class='card-header'>{{header}}</div>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <hr class="my-5">
  {{#with rest}}
  <div class="row">
    {{#each cards}}
    <div class="col-6">
      <div class='card'>
        <div class='card-header text-center'>{{header}}</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>{{title}}</h6>
          <div>{{description}}</div>
          <button class='btn btn-primary'>{{button}}</button>
        </div>
         <div class='card-footer text-center'>{{footer}}</div>
      </div>
      </div>
    {{/each}}
    </div>
  {{/with}}
  <hr class="my-5">
  {{#with proposition}}
    <div class='display-3'>{{title}}</div>
    <br />
    <div class="row">
      {{#each card}}
        <div class="col-5">
          <div class='card text-bg-warning'>
            <div class='card-header'>{{header}}</div>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <hr class="my-5">
  <div class='row'>
  {{#with footer}}
    <h5>{{title}}</h5>
    <div class='col-4'>
    {{#each navigation}}
      <div class="mt-2">
        <a href={{href}} class='btn btn-link' target='_blank'>{{text}}</a>
      </div>
    {{/each}}
    </div>
    <div class='col-4'>
    {{#each socialMedia}}
      <div class="mt-2">
        <a href={{link}} class='btn btn btn-outline-dark' target='_blank'>{{name}}</a>
      </div>
    {{/each}}
    </div>
    <div class='col-4'>
    {{#each partners}}
      <div class="mt-2">
        <a href={{link}} class='btn btn btn-outline-info' target='_blank'>{{name}}</a>
      </div>
    {{/each}}
    </div>
  {{/with}}
  </div>

</main>