{{#each goodsBlock}}
  <div class='col-12 mb-2'>
    <div class='card'>
      <div class='row'>
      <div class='col-2'>
        <img class='card-img-top' src='{{image}}' alt='{{name}}'>
      </div>
      <div class='col-4 ps-1'>
        <div class='mt-3'>
        <h5>{{name}}</h5>
        <p>{{description}}</p>
        </div>
      </div>
      <div class="col-2">
        <div class='mt-5'>
        {{#with price}}
          <div>{{title}}: </div>
          <div><b>{{value}}</b></div>
        {{/with}}
        </div>
      </div>
      <div class="col-1">
        <div class='mt-5'>
        {{amount}}
        </div>
      </div>
      <div class="col-2 mt-3 ms-5">
        {{#each buttons}}
        {{#if isPrimary}}
        <button type="button" class="btn btn-primary">
          {{text}}
        </button>
        {{/if}}
        {{#if isDanger}}
        <button type="button" class="btn btn-outline-danger mt-3">
          {{text}}
        </button>
        {{/if}}
        {{/each}}
      </div>
      </div>
    </div>
  </div>
{{/each}}